.cnt{
  display: grid;
  grid-template-columns: 10% 90%;
}
.grid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card img {
  border: solid;
  border-color: black;
  border-width: 0.25rem;
  height: 100px;
  width: 200px;
  object-fit: cover;
}
.filtro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
